.App {
  font-family: sans-serif;
  text-align: center;
  border: solid 2px lightgray;
  border-radius: 15px;

  max-width: 600px;
  margin: 20px auto;
  box-shadow: rgba(62, 114, 139, 0.51) 0px 2px 4px 0;
  color: #8566aa;
  /*text-shadow: rgba(62, 114, 139, 0.51) 2px 2px 3px;*/
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}
.SearchEngine {
  text-transform: capitalize;
}
.SearchEngine form {
  text-align: left;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 0px;
}
li {
  list-style-type: none;
}
#search-btn {
  box-shadow: rgba(62, 114, 139, 0.51) 0px 2px 4px 0;

  font-size: 20px;
  background: #f4f4f4;
  color: #8566aa;
  border-radius: 5px;
  transition: all 200ms ease;
  margin-left: 20px;
}
#search-btn:hover {
  background: #8566aa;
  color: #fff1eb;
  cursor: pointer;
  text-shadow: 2px 2px 3px black;
}
#search-bar {
  box-shadow: rgba(62, 114, 139, 0.51) 0px 2px 4px 0;

  font-size: 20px;
  border-radius: 5px;
}
#list {
  text-align: left;
  list-style-position: inside;
  margin: 10px 10px 10px 40px;
  padding: 0;
}
#current-stats-col {
  padding: 0;
}
#icon-col {
  padding: 0;
}
.Weather #current-temp {
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
  margin-left: 20px;
}

.Weather #units {
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -32px;
}
.Weather h2 {
  font-size: 32px;
  text-align: left;
  margin-left: 20px;
  margin-top: 10px;
}

.Weather img {
  height: 64px;
  margin-left: 20px;
}
.Weather .clearfix {
  margin-top: 20px;
}
.Forecast h2 {
  text-align: left;
  margin-left: 20px;
}
.Footer {
  font-size: 12px;
}
