.App {
  font-family: sans-serif;
  text-align: center;
  border: solid 2px lightgray;
  border-radius: 15px;
  background: #7fdbda;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: rgba(62, 114, 139, 0.51) 0px 2px 4px 0;
  color: #8566aa;
  text-shadow: rgba(62, 114, 139, 0.51) 2px 2px 3px;
}
.ResultWeather {
  text-transform: capitalize;
}
.SearchEngine {
  text-transform: capitalize;
}
li {
  list-style-type: none;
}
#search-btn {
  box-shadow: rgba(62, 114, 139, 0.51) 0px 2px 4px 0;
  padding: 4px;
  font-size: 20px;
  background: #f4f4f4;
  color: #8566aa;
}
#search-btn:hover {
  background: #8566aa;
  color: #fff1eb;
  cursor: pointer;
  text-shadow: 2px 2px 3px black;
}
#search-bar {
  box-shadow: rgba(62, 114, 139, 0.51) 0px 2px 4px 0;
  padding: 4px;
  font-size: 20px;
}

#list {
  text-align: left;
  list-style-position: inside;
  margin: 10px;
  padding: 0;
}
#current-stats-col {
  padding: 0;
}
#icon-col {
  padding: 0;
}
#current-temp {
  font-size: 20px;
  font-weight: bold;
  line-height: 15px;
}
